<div class="content">
    <h1>About me!</h1>
    <h3>Hey, it's me Artem, the dev of this site. Wanna know a little more about me?</h3>

    <div fxLayout="row wrap" fxLayout.xs="column" [style.max-width]="'1000px'" [style.margin]="'0 auto'">

        <div fxFlex [style.margin]="'20px'">
            <mat-card [style.min-width]="'200px'" [style.max-width]="'300px'">
                <mat-card-header>
                    <mat-card-title>I like programming!</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <h3>..although I'm a bit lazy when it comes to creating my own projects. I promise to change that though!</h3>
                </mat-card-content>
            </mat-card>
        </div>

        <div fxFlex [style.margin]="'20px'">
            <mat-card [style.min-width]="'200px'" [style.max-width]="'300px'">
                <mat-card-header>
                    <mat-card-title>I play guitar!</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <h3>And I prefer acoustic. It just happened I started learning acoustic guitar way earlier and I still love it.</h3>
                </mat-card-content>
            </mat-card>
        </div>

        <div fxFlex [style.margin]="'20px'">
            <mat-card [style.min-width]="'200px'" [style.max-width]="'300px'">
                <mat-card-header>
                    <mat-card-title>Creating music is also one of my passions!</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <h3>Sometimes it is demotivating doing something you're not really good at, but if you overcome that, you are heading right to success, my friend.</h3>
                </mat-card-content>
            </mat-card>
        </div>

    </div>
    <div fxLayout="row wrap" fxLayout.xs="column" [style.max-width]="'700px'" [style.margin]="'0 auto'">

        <div fxFlex [style.margin]="'20px'">
            <mat-card [style.min-width]="'200px'" [style.max-width]="'300px'">
                <mat-card-header>
                    <mat-card-title>Sometimes I like playing poker with my friends.</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <h3>
                        What else do I not know about you?
                    </h3>
                    <i>-my mom when we played once</i>
                </mat-card-content>
            </mat-card>
        </div>

        <div fxFlex [style.margin]="'20px'">
            <mat-card [style.min-width]="'200px'" [style.max-width]="'300px'">
                <mat-card-header>
                    <mat-card-title>I'm trying to find a coop.</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <h3>Not the most exiting one, but hey, if you're looking for a junior soft dev, hit me up!</h3>
                </mat-card-content>
            </mat-card>
        </div>

    </div>
</div>